h2 {
  text-align: center;
  font-family: cursive;
  background-color: white;
  font-size: 30px;
  color: rgb(228, 24, 58);
  padding-top: 1%;
}
form {
  padding: 2%;
  border: 2px solid rgb(228, 24, 58);
  background-color: antiquewhite;
  margin: 2%;
  border-radius: 20px;
  color: rgb(228, 24, 58);
}
button {
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  background-color: rgb(228, 24, 58);
  border-radius: 10px;
  font-family: "Franklin Gothic Medium";
  color: white;
  border-color: rgb(228, 24, 58);
  font-style: italic;
}